<h1>Enter a sentence or word and I will make it l33t!</h1>
<form action='/leetspeakOutput'>
  <div class="form-group">
    <label for="inputString">Enter sentence or word:</label>
    <input id="inputString" name="inputString" class="form-control" type="text">
  </div>
  <button type="submit" class="btn">Submit!</button>
</form>
